Enterprise.AdminUI/Service References/MenuService/MenuService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23618/MenuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" />
  <xs:element name="GetMenus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenusResult" nillable="true" type="q1:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuResult" nillable="true" type="q2:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetCompleteMenuResult" nillable="true" type="q3:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="menu" nillable="true" type="q4:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="AddMenuResult" nillable="true" type="q5:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="menu" nillable="true" type="q6:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusByRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusByRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenusByRestaurantResult" nillable="true" type="q7:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemByRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantId" type="xs:int" />
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemByRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemByRestaurantResult" nillable="true" type="q8:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRestaurantTotalCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantId" type="xs:int" />
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRestaurantTotalCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetByRestaurantTotalCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemByMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemByMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemByMenuResult" nillable="true" type="q9:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemsByPageResult" nillable="true" type="q10:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalMenuItemCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalMenuItemCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalMenuItemCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestSeller">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestSellerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetBestSellerResult" nillable="true" type="q11:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemResult" nillable="true" type="q12:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetRelatedMenuItemResult" nillable="true" type="q13:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemsResult" nillable="true" type="q14:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemModelsResult" nillable="true" type="q15:ArrayOfMenuItemModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="menu" nillable="true" type="q16:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="AddMenuItemResult" nillable="true" type="q17:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="menu" nillable="true" type="q18:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="UpdateMenuItemResult" nillable="true" type="q19:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMenuHaveMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMenuHaveMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMenuHaveMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemModelByMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemModelByMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" minOccurs="0" name="GetMenuItemModelByMenuResult" nillable="true" type="q20:ArrayOfMenuItemModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>