Enterprise.AdminUI/Service References/CartService/CartService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Enterprise.Logic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23618/CartService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactTelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FulllName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderStatusId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubmittedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Cart">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ImageLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuItemId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="ArrayOfOrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderModel" nillable="true" type="tns:OrderModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderModel" nillable="true" type="tns:ArrayOfOrderModel" />
  <xs:complexType name="OrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactTelephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FulllName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmittedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderModel" nillable="true" type="tns:OrderModel" />
  <xs:complexType name="ArrayOfOrderDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetailModel" nillable="true" type="tns:OrderDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetailModel" nillable="true" type="tns:ArrayOfOrderDetailModel" />
  <xs:complexType name="OrderDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerSummary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MenuId" type="xs:int" />
      <xs:element minOccurs="0" name="MenuItemId" type="xs:int" />
      <xs:element minOccurs="0" name="MenuItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="RestaurantId" type="xs:int" />
      <xs:element minOccurs="0" name="RestaurantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesValues" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMenuItem" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetailModel" nillable="true" type="tns:OrderDetailModel" />
  <xs:complexType name="OrderDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliveryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ETA" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MenuItemId" type="xs:int" />
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusUpdatedTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDetail" nillable="true" type="tns:OrderDetail" />
  <xs:complexType name="ArrayOfOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderStatus" nillable="true" type="tns:OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderStatus" nillable="true" type="tns:ArrayOfOrderStatus" />
  <xs:complexType name="OrderStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>